@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
  <h1 class="display-4">Rafael Souza Pereira de Brito</h1>
  <p class="lead">rafael.brito@al.infnet.edu.br</p>
</div>

<div>
    <h1>IaaS</h1>
    <p>A categoria mais básica de serviços de computação em nuvem é a de Infraestrutura como Serviço, em inglês Infrastructure as a Service (IaaS). Nessa categoria é possível alugar infraestrutura de TI, como servidores, máquinas virtuais, armazenamento, redes e sistemas operacionais, de um provedor de nuvem em uma base pré-paga. O provisionamento e o gerenciamento dessa infraestrutura é todo feito pela internet, o que ajuda a evitar os gastos e a complexidade que haveriam se tivéssemos que comprar e gerenciar nossos próprios servidores físicos e outras infraestruturas em um datacenter.</p>
</div>

<div>
    <h1>PaaS</h1>
    <p>Nos serviços de Plataforma como Serviço, em inglês, Platform as a Service (PaaS), temos, sob demanda, um ambiente para desenvolvimento, teste, fornecimento e gerenciamento de aplicativos de software. O objetivo dessa categoria é facilitar aos desenvolvedores criarem aplicativos móveis ou web rapidamente, sem se preocupar com a configuração ou com o gerenciamento de infraestrutura de servidores, armazenamento, rede e banco de dados. Permite evitar os gastos e a complexidade de comprar e gerenciar licenças de software, infraestrutura e middleware de aplicativo ou ferramentas de desenvolvimento e outros recursos.</p>
</div>

<div>
    <h1>IaaS</h1>
    <p>O Software como Serviço, em inglês, Software as a Service (SaaS), é um método para fornecer aplicativos de software pela internet, sob demanda, e normalmente com base em assinaturas. Nessa categoria, os provedores de nuvem hospedam e gerenciam o aplicativo de software e a infraestrutura subjacente, sendo também responsáveis por manutenções, como atualizações de software e patches de segurança. Permite utilizar aplicativos rapidamente com um custo inicial mínimo.</p>
</div>